html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

footer {
	display:block;
	background-color:silver; padding:20px;
}

body > header
{
	width:100%;
	background:silver;
}

nav#recent,nav#calendar,nav#keywords,nav#categories {
	float:right;
	width:33%;
	clear:right;
}

article,nav#related
{
	float:left;
	width:66.9%;
	clear:left;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
  font-size:13px; margin:0px;

  background-color: DimGray;
  color:white;
  width: 100%;
  xmax-width:95em;
  padding:0;
  margin:0;
}

html { width:100%; box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }
